---
layout: default
title: Tilix Clients
permalink: /clients/
fluidity: boxed
---
{% capture whatwedo %}{% include whatwedo.md %}{% endcapture %}
{% capture whatwedo-1 %}{% include whatwedo-1.md %}{% endcapture %}
{% capture whatwedo-2 %}{% include whatwedo-2.md %}{% endcapture %}
{% capture whatwedo-3 %}{% include whatwedo-3.md %}{% endcapture %}


<div class="container">
    <div class="row intro">
        <div class="col-lg-12 text-center">
            {{ whatwedo | markdownify }}
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/acorn.png" class="img-responsive tilix-icon" alt="Start outs are like acorns"></span> {{ whatwedo-1 | markdownify }}
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/sapling.png" class="img-responsive tilix-icon" alt="SMEs are like saplings"></span> {{ whatwedo-2 | markdownify }}
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/great-oak-icon-v3.png" class="img-responsive tilix-icon" alt="Corporates are like great oaks"></span> {{ whatwedo-3 | markdownify }}
        </div>
    </div>
    <div class="row intro">
        <div class="col-lg-12 text-center">
            <img src="/assets/img/tilix-clients.svg" class="img-responsive" alt="Logos of Tilix clients">
        </div>
    </div>

</div>
