---
layout: default
title: Tilix Clients
permalink: /clients/
fluidity: boxed
---
{% capture clients %}{% include clients.md %}{% endcapture %}
{% capture startup %}{% include clients-startup.md %}{% endcapture %}
{% capture SME %}{% include clients-sme.md %}{% endcapture %}
{% capture corporate %}{% include clients-corporate.md %}{% endcapture %}


<div class="container">
    <div class="row intro">
        <div class="col-lg-12 text-center">
            {{ clients | markdownify }}
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/acorn.png" class="img-responsive tilix-icon" alt="Start outs are like acorns"></span> {{ startup | markdownify }}
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/sapling.png" class="img-responsive tilix-icon" alt="SMEs are like saplings"></span> {{ SME | markdownify }}
        </div>
        <div class="col-md-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/great-oak-icon-v3.png" class="img-responsive tilix-icon" alt="Corporates are like great oaks"></span> {{ corporate | markdownify }}
        </div>
    </div>
    <div class="row intro">
        <div class="col-lg-12 text-center">
            <img src="http://www.tilix.uk.s3.amazonaws.com/img/tilix-clients.png" class="img-responsive" style="margin: auto" alt="Logos of Tilix clients">
        </div>
    </div>

</div>
