---
layout: default
title: Tilix Impact Investing
permalink: /impact/
fluidity: boxed
---
{% capture teaser %}{% include impact.md %}{% endcapture %}
{% capture body %}{% include impact-detail.md %}{% endcapture %}

<div class="container">
    <div class="row intro">
        <div class="col-md-6 text-center col-md-offset-3">
            {{ teaser | markdownify }}
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          {{ body | markdownify }}
      </div>
    </div>
</div>
