---
layout: default
title: Tilix Impact Investing
permalink: /impact/
fluidity: boxed
---
{% capture left %}{% include impact-left.md %}{% endcapture %}
{% capture right %}{% include impact-right.md %}{% endcapture %}
{% capture body %}{% include impact-detail.md %}{% endcapture %}

<div class="container">
  <div class="row intro">
    <div class="col-lg-12 text-center">
      <h2>Making Energy Cheap, Clean & Cheerful</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {{ left | markdownify }}
    </div>
    <div class="col-md-4">
      <img class="img-responsive" style="margin: auto" alt="Tilix Impact Investing balances the environment, finance and passion" src="http://www.tilix.uk.s3.amazonaws.com/img/impact-investing.png">
    </div>
    <div class="col-md-4">
      {{ right | markdownify }}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 id="seed-investment">Seed Investment</h3>
    <p>Tilix provides resources for a business start-outs in the smart energy category, usually in exchange for convertible debt or ownership equity. Opportunities come to us through online platforms like LinkedIn, f6s.com and angel.co.</p>
    <p>We are actively advising and investing in Uniti, Become Energy, Open Utility, Homebox.io and Enian. The CEOs of these firms value the cash, advice, knowledge transfer and connections Tilix provides.</p>
    </div>
    <div class="col-md-6">
      <h3 id="pro-bono">Pro Bono</h3>
      <p>Tilix undertakes assignments for the public good. This is professional work undertaken voluntarily and without payment. Unlike traditional volunteerism, it brings specific Tilix skills and expertise to those who are unable to afford them. In particular, Tilix looks to work with community groups that are doing innovative work in smart and digital energy.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h3 id="joint-venture">Joint Venture</h3>
    <p>Tilix works with various partners (e.g. <a href="http://www.sustainabledirection.com">Sustainable Direction</a>, <a href="http://novazure.com">NovAzure</a>) on joint ventures. Here we share ownership, returns, risks, and governance. This is helping Tilix access new markets; gain scale efficiencies by combining assets and operations; or to access skills and capabilities that are not a core strength.</p>
    </div>
    <div class="col-md-6">
    <h3 id="accelerator">Accelerator</h3>
    <p>Tilix offers are fixed-term support including mentorship and educational components for start-outs that are ready to build serious momentum. Tilix knowledge, technology, labour and capital can help build teams, increase velocity and give direction.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h3 id="incubator">Incubator</h3>
    <p>Tilix has close relationships with incubators in London and the South West of England. As catalysts for both regional and national economic development, these organisations play a key role in helping to solve the energy trilemma.</p>
    </div>
    <div class="col-md-6">
    <h3 id="traditional-instruments">Traditional Instruments</h3>
    <p>Mature organisations in the smart &amp; clean energy category regularly offer bonds and shares. For example Ecotricity, Good Energy and Bristol Energy Coop. Tilix has a rigorous fund management process for managing this asset class and is helping organisations in this space develop new propositions.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <h3 id="crowd-funding">Crowd Funding</h3>
    <p>Early stage businesses are raising finance on platforms like Kickstarter, Crowdcube and Seedrs. Tilix watches these platforms like a hawk and is continually evaluating opportunities.</p>
    <p>We are particularly proud of the role Tilix played in helping Uniti EV raise circa €4M through two rounds. Campaigns that have perked our interest include Den Automation, Solar for Schools and PowerVault.</p>
    </div>
    <div class="col-md-6">
    <h3 id="microfinance">Microfinance</h3>
    <p>Small scale social enterprises can leverage Tilix knowledge, technology, labour and capital to help deliver their mission. We have a strong preference for helping organisations which address fuel poverty and air quality.</p>
    </div>
  </div>
</div>
