---
layout: default
title: Tilix Clients
permalink: /clients/
fluidity: boxed
---
{% capture clients %}{% include clients.md %}{% endcapture %}
{% capture startup %}{% include clients-startup.md %}{% endcapture %}
{% capture SME %}{% include clients-sme.md %}{% endcapture %}
{% capture corporate %}{% include clients-corporate.md %}{% endcapture %}


<div class="container">
    <div class="row intro">
        <div class="col-lg-12 text-center">
            {{ clients | markdownify }}
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/acorn.png" class="img-responsive tilix-icon" alt="Start outs are like acorns"></span> {{ startup | markdownify }}
        </div>
        <div class="col-sm-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/sapling.png" class="img-responsive tilix-icon" alt="SMEs are like saplings"></span> {{ SME | markdownify }}
        </div>
        <div class="col-sm-4">
            <span class="fa-stack fa-4x"><img src="http://www.tilix.uk.s3.amazonaws.com/img/great-oak-icon-v3.png" class="img-responsive tilix-icon" alt="Corporates are like great oaks"></span> {{ corporate | markdownify }}
        </div>
    </div>
    <div class="row intro">
  <div class="col-sm-12 text-center">
    <div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://www.tilix.uk.s3.amazonaws.com/img/tilix-clients-startup.png" alt="Slide 1">
      <div class="carousel-caption">
        <!--h3>Start Up</h3-->
        <!--p>Text 1</p-->
      </div>
    </div>
    <div class="item">
      <img src="http://www.tilix.uk.s3.amazonaws.com/img/tilix-clients-sme.png" alt="Slide 2">
      <div class="carousel-caption">
        <!--h3>SME</h3-->
        <!--p>Text 2</p-->
      </div>
    </div>
    <div class="item">
      <img src="http://www.tilix.uk.s3.amazonaws.com/img/tilix-clients-corporate.png" alt="Corporate Clients">
      <div class="carousel-caption">
        <!--h3>Corporate</h3-->
        <!--p>Text 3</p-->
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  </div>
</div>
</div>
