@import url('https://fonts.googleapis.com/css?family=Sanchez');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	overflow-x:hidden;
	font-family: 'Open Sans',Arial,sans-serif;
	color: #19507a;
}

body.blog {
	margin-top: 100px;
	}

body.index {
	margin-top: 0px;
	}


.text-muted{
	color:#777
}
.text-primary{
	color:#FF8900
}

.intro {
	margin-bottom: 30px;
}

p {
	font-size:14px;
	line-height:1.5
}

.intro p {
	max-width: 800px;
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
}

p.large {
	font-size:16px
}
a,a:hover,a:focus,a:active,a.active{
	outline:0
}
a {
	color:#00a7e1
}
a:hover,a:focus,a:active,a.active{
	color:#FF8900
}

h1,h2,h3,h4,h5,h6,.nav {
	font-family: 'Sanchez',"Times New Roman", Times, serif;
	font-weight:700;
	margin-bottom: 15px;
}

blockquote {
	margin: 20px;
	background: #eee;
	border-left: none;
	font-style: italic;
}


.img-centered{
	margin:0 auto
}

.bg-light-gray{
	background-color:#f7f7f7
}
.bg-darkest-gray{
	background-color:#222
}
.btn-primary{
	color:#fff;
	background-color:#FF8900;
	border-color:#FF8900;
	text-transform:uppercase;
	font-weight:700
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
	color:#fff;
	background-color:#FF8900;
	border-color:#FF8900
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary{
	background-image:none
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active{
	background-color:#FF8900;
	border-color:#FF8900
}
.btn-primary .badge{
	color:#FF8900;
	background-color:#fff
}
.btn-xl{
	color:#fff;
	background-color:#FF8900;
	border-color:#FF8900;
	text-transform:uppercase;
	font-weight:700;
	border-radius:3px;
	font-size:18px;
	padding:20px 40px
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl{
	color:#fff;
	background-color:#FF8900;
	border-color:#FF8900
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl{
	background-image:none
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active{
	background-color:#FF8900;
	border-color:#FF8900
}
.btn-xl .badge{
	color:#FF8900;
	background-color:#fff
}

.navbar-default{
/*background-color:#00a7e1; */
background-color:#0b5789;
border-color:transparent;
}


.navbar-default .navbar-brand {
	color:#FF8900;
	padding: 0 15px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.current{
	color:#FF8900
}
.navbar-default .navbar-collapse{
	border-color:rgba(255,255,255,.02)
}
.navbar-default .navbar-toggle{
	background-color:#FF8900;
	border-color:#FF8900
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color:#FF8900
}
.navbar-default .navbar-nav li a{
	text-transform:uppercase;
	font-weight:400;
	letter-spacing:1px;
	color:#fff
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus{
	color:#FF8900;outline:0
}
.navbar-default .navbar-nav>.current>a{
	border-radius:0;
	color:#fff;
	background-color:#073452
}
.navbar-default .navbar-nav>.current>a:hover,
.navbar-default .navbar-nav>.current>a:focus{
	color:#fff;background-color:#FF8900
}

section#whatwedo .col-md-4 ul,
section#whatwedo .col-md-4 p {
	text-align: left;
}

.blog .boxed.col-md-8 {
	float: none;
	margin: 0 auto;
	width: 67%;
}

.blog .boxed.col-md-8 img {
	max-width: 100%;
	height: auto;
}

@media (max-width:600px) {
	body.blog {
	margin-top: 50px;
	}

	body header .intro-text h1 {
    font-size: 26px;
    line-height: 40px;
	}

	section {
    padding: 30px 0;
	}

	.tilix-icons {
		padding:50px 0
	}

}


@media (min-width:600px){
	.navbar-default,
	.index.blog .navbar-default {
		background-color:transparent;
		padding:25px 0;
		-webkit-transition:padding .3s;
		-moz-transition:padding .3s;
		transition:padding .3s;
		border:0
	}

	.blog .navbar-default{
		background-color:#0b5789;
	}
	.navbar-default .navbar-brand{
		font-size:2em;
		-webkit-transition:all .3s;
		-moz-transition:all .3s;
		transition:all .3s
	}
	.navbar-default .navbar-nav>.current>a {
		border-radius:3px
	}


.navbar-default.navbar-shrink,
.index.blog .navbar-default.navbar-shrink	{
/*background-color:#00a7e1; */
background-color:#0b5789;
padding:10px 0
}


.navbar-default.navbar-shrink .navbar-brand{
	font-size:1.5em
	}
}


header{
	background-image:url(../img/header-field.jpg);
	background-repeat:none;
	background-attachment:scroll;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
	text-align:center;
	color:#fff
}
header .intro-text{
	padding-top:100px;
	padding-bottom:50px
}
header .intro-text h2 {
	font-style: normal;
	font-size:22px;
	line-height:32px;
	margin-bottom:25px;
	max-width: 600px;
	margin: auto;
}
header .intro-text h1 {
	text-transform:uppercase;
	font-weight:700;
	font-size:40px;
	line-height:60px;
	margin-bottom:25px
}

@media (min-width:600px){
	header .intro-text{
		padding-top:150px;
		padding-bottom:200px
	}
	header .intro-text .intro-lead-in{
		font-style:italic;font-size:32px;
		line-height:40px;
		margin-bottom:25px;
		max-width: 400px;
	}
	header .intro-text .intro-heading{
		font-weight:700;
		font-size:75px;
		line-height:75px;
		margin-bottom:50px
	}
}

section h1 {
	font-size: 36px;
}

section h2 {
	font-size:26px;
}

section h3 {
	font-size: 22px;
}

section h4 {
	font-size: 18px;
}

section h5 {
	font-size: 14px;
}

.index section h1 {
	font-size: 40px;
	margin-top:0;
}

.index section h2 {
	font-style:italic;
	font-weight:400;
	text-transform:none;
}

@media (min-width:768px){
	section {
		padding: 50px 0
	}
	.blog section {
		margin-top: 70px;
	}
	.index.blog section.first {
		margin-top: 0;
		padding: 0;
		width: 100%
	}

	.index.blog section .container.first {
		padding: 0;
		width: 100%
	}

	.index.blog section {
		margin-top: 0;
	}

	.tilix-icons {
		padding:100px 0
	}

}

section#contact{
background-color:#19507a;
/*background-image:url(../img/map-image.png); */
background-image:url(../img/contact.jpg);
background-position:center;
background-repeat:no-repeat}


section#contact .section-heading{
	color:#fff
}
section#contact .form-group{
	margin-bottom:25px
}
section#contact .form-group input,
section#contact .form-group textarea{
	padding:20px
}
section#contact .form-group input.form-control{
	height:auto
}
section#contact .form-group textarea.form-control{
	height:236px
}
section#contact .form-control:focus{
	border-color:#FF8900;
	box-shadow:none
}
section#contact ::-webkit-input-placeholder{
	text-transform:uppercase;
	font-weight:700;
	color:#bbb
}
section#contact :-moz-placeholder{
	text-transform:uppercase;
	font-weight:700;
	color:#bbb
}
section#contact ::-moz-placeholder{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	color:#bbb
}
section#contact :-ms-input-placeholder{
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:700;
	color:#bbb}
section#contact .text-danger{
	color:#e74c3c}
footer{
	padding:25px 0;
	text-align:center;
	margin-bottom: 50px; /* allows footer content to viewed with fix CTA buttons added */
}
footer span.copyright{
	line-height:40px;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	text-transform:none
}
footer ul.quicklinks{
	margin-bottom:0;
	line-height:40px;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	text-transform:none
}
ul.social-buttons{
	margin-bottom:0
}
ul.social-buttons li a{
	display:block;
	background-color:#00a7e1;
	height:40px;
	width:40px;
	border-radius:100%;
	font-size:20px;
	line-height:40px;
	color:#fff;
	outline:0;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active{
	background-color:#FF8900
}
.btn:focus,
.btn:active,
.btn.current,
.btn:active:focus{
	outline:0
}

::-moz-selection{
	text-shadow:none;
	background:#FF8900
}
::selection{
	text-shadow:none;
	background:#FF8900
}
img::selection{
	background:0 0
}
img::-moz-selection{
	background:0 0
}
body{
	webkit-tap-highlight-color:#FF8900
}

.navbar-brand {
    padding: 0 15px;
}

.tilix-icons {
    background-attachment: scroll;
    background-image: url("../img/icon-bg.jpg");
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.tilix-icon {
	background: #19507a;
	border-radius: 2em;
}

.btn-sml {
    background-color: #ff8900;
    border-color: #ff8900;
    border-radius: 3px;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

section#contact  h3.section-subheading.text-muted {
		color: #fff;
}

.lkdin {
	font-size: 14px;
	margin-top: 20px;
}

.lkdin img {
	vertical-align: bottom;
}

.post-teaser {
	border-bottom: 1px solid #19507a;
	min-height: 130px;
	margin: 10px 0;
}

.post-teaser span,
p.meta {
	display: inline-block;
    	padding: 2px 5px;
    	background: #19507a;
    	color: white;
}

.post-teaser  h2 {
	font-size: 1.3em;
    font-weight: 100;
	padding: 10px;
	display: block;
}

@media (max-width: 1000px) {
  .navbar-default .nav li a {
     font-size: 12px;
	}
}


@media (max-width: 360px) {
  header .intro-text .intro-heading {
     font-size: 30px;
    line-height: 30px;
}
}


/* Fixed CTA buttons */

section#fixed-bottom {
		font-family: 'Open Sans', sans-serif;
    background: #19507a;
    bottom: 0;
    margin: auto;
    padding: 10px 0 0 0;
    position: fixed;
    text-align: center;
    width: 100%;
    border: 1px solid #fff;
}

section#fixed-bottom a.btn {
	margin-bottom: 10px;
}

section#fixed-bottom a.btn.green {
	background: #34d058;
	border-color: #34d058;
}

section#fixed-bottom a.btn:hover {
	background: #00a7e1;
	border: #00a7e1;
}

@media (max-width: 576px) {
	section#fixed-bottom a.btn {
		font-size: 12px;
		padding: 4px 12px;
}
}

/* End of fixed CTA buttons */

.img-thumbnail {
	width: 137px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .row-fluid > :nth-child(2n+1) {
        clear: both;
        margin-left: 0;
    }

    .row-fluid .col-sm-3 {
        width: 48.61878453038674%;
    }

		section#news h2 {
	   font-size: 22px;
	   line-height: 32px;
	   margin-bottom: 25px;
	 }
}

img.textwrap {
	float: left;
	margin: 10px;
}
